.StepNavigator {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    color: var(--tg-theme-button-text-color);
}

.StepNavigator__stage {
    width: 40px;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(141, 155, 215, 0.2);
}

.StepNavigator__stage.passed {
    background-color: var(--tg-theme-button-color);

}

.StepNavigator__stage.passed.current {
    color: var(--tg-theme-text-color) !important;
}