.stageNavigator {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.stageNavigator__stage {
    width: 40px;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(141, 155, 215, 0.2);
}

.stageNavigator__stage.passed {
    background-color: var(--tg-theme-button-text-color);
}