.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#spike {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--tg-theme-hint-color);
}

#spikeCanvas {
    width: 200px;
    margin-top: -7%;
}

.text_content {
    width: 100%;
}

.text_content div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: var(--tg-theme-secondary-bg-color);
    margin-top: 1px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.text_content div:nth-last-child(1) {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media(max-width: 1200px) {
    #spikeCanvas {
        margin-top: -10%;
        width: 800px
    }
}

@media(max-width: 600px) {
    #spikeCanvas {
      width: 800px
    }
}