.checkbox-wrapper {
    width: 100%;
    height: auto;
    padding: 20px;
    border: 1px solid var(--tg-theme-hint-color);
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
}

.checkbox-wrapper input[type="checkbox"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    height: auto;
    outline: none;
    cursor: pointer;
  }