* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141829;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 0 20px;
}